<% @books.each do |book| %>
  <tr class="px-2">
    <td class="text-left"><%= book['title'] %></td>
    <td class="text-center"><%= book['episode_id'] %></td>
    <td class="text-center"><%= book['director'] %></td>
    <td class="text-center"><%= book['release_date'].to_time.year %></td>
    <td class="text-center">
      <%= link_to books_path(book), method: :put do
        icon('fas', 'thumbs-up', class: 'fa-2x py-3 text-primary')
      end %>
    </td>
    <td class="text-center">
      <%= link_to books_path(book), method: :put do
        icon('fas', 'thumbs-down', class: 'fa-2x py-3 text-dark')
      end %>
    </td>
  </tr>
<% end %>