<!DOCTYPE html>
  <html>
  <head>
    <title>Biblioteca Star Wars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #f8f9fa;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-light">

      <h2>
        Bem vindo, <strong><%= current_user.nil? ? 'Visitante' : current_user.username %></strong>
      </h2>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-flex flex-row-reverse">
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger' do
            icon('fas', 'sign-out-alt')
          end %>&nbsp;&nbsp;&nbsp;

          <%= link_to edit_user_registration_path, class: 'btn btn-outline-dark' do
            icon('fas', 'user-edit')
          end%>&nbsp;&nbsp;

          <%= link_to 'Filmes Mais Votados', list_evaluations_url, class: 'btn btn-outline-info' %>&nbsp;&nbsp;

          <%= link_to 'Listagem de Filmes', root_url, class: 'btn btn-outline-success' %>
      <% else %>
          <%= link_to "Login", new_user_session_path, class: 'btn btn-outline-success'  %>&nbsp;&nbsp;&nbsp;
          <%= link_to "Registrar-se", new_user_registration_path, class: 'btn btn-outline-secondary'  %>
        <% end %>
      </div>
    </nav>

    <section class="container">

      <div class="d-flex justify-content-center">
        <% if notice || flash[:success] %>
          <p class="w-100 alert alert-success"><%= notice || flash[:success] %></p>
        <% end %>

        <% if alert || flash[:error] %>
          <p class="w-100 alert alert-danger"><%= alert || flash[:error] %></p>
        <% end %>

        <% if flash[:warning] %>
          <p class="w-100 alert alert-warning"><%= flash[:warning] %></p>
        <% end %>
      </div>

      <%= yield %>

    </section>

  </body>
</html>
